{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Начальная страница
        {% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
</head>
<body>

<div id="header">
        <div class="menu container">
            <ul>

                <li>
                    <a href="{% url 'com' %}">Пациенты на комиссии</a>
                </li>

                <li>
                    <a href="{% url 'wlist' %}">Лист ожидания</a>
                </li>

                {% if user_is_doctor %}
                <li>
                    <a href="{% url 'mypats' %}">Мои пациенты</a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'cal' %}">Календарь госпитализации</a>
                </li>
                <li>
                    <a href="{% url 'cal' %}">Календарь операций</a>
                </li>
                {% if user_is_doctor %}
                <li>
                    <a href="{% url 'lk' user.id %}">Мой кабинет</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}">Выход</a>
                </li>


            </ul>
        </div>
    </div>
<div id="content">

        {% block content %}
        Дефолтное содержимое
        {% endblock %}
    </div>
{% block js %}
    {% endblock js %}
</body>
</html>